<hr class="formRowSep" />

<xf:checkboxrow>
	<xf:option name="options[at_glw_linknames]" selected="$options.at_glw_linknames"
		label="{{ phrase('at_glw_linknames') }}" />
</xf:checkboxrow>

<xf:radiorow name="options[at_glw_cssOption]" value="{{ $options.at_glw_cssOption ?: 'banner_css' }}"
	label="{{ phrase('at_glw_cssOption') }}">

	<xf:option value="banner_css"
		label="{{ phrase('user_banner_styling') }}" />
	<xf:option value="username_css"
		label="{{ phrase('user_name_css') }}" >
		<xf:dependent>
			<xf:radio name="options[at_glw_title]" value="{{ $options.at_glw_title ?: 'banner_text' }}" listclass="choiceList indented">
				<xf:option value="banner_text"
					label="{{ phrase('user_banner_text') }}" />
				<xf:option value="user_title"
					label="{{ phrase('user_title_override') }}" />
				<xf:option value="group_title"
					label="{{ phrase('at_glw_group_title') }}" />
			</xf:radio>
		</xf:dependent>
	</xf:option>
</xf:radiorow>