<xf:css src="at_glw_widget.less"  />

<div class="block"{{ widget_data($widget) }}>
	<div class="block-container">
		<h3 class="block-minorHeader">{$title}</h3>
		<div class="block-body block-row">
			<xf:foreach loop="$outputGroups" value="$group">
				<div class="at_glw_center">
					<xf:if is="$options.at_glw_linknames"><a href="/members/?key={$group.title}"></xf:if>
						<xf:if is="$options.at_glw_cssOption == 'banner_css'">
							<em class="{$group.banner_css_class} at_glw_banner_css" dir="auto">
								<span class="userBanner-before"></span><strong>{$group.banner_text}</strong>
								<span class="userBanner-after"></span>
							</em>
						<xf:elseif is="$options.at_glw_cssOption == 'username_css'" />
							<span style="{$group.username_css}">
								<xf:if is="$options.at_glw_title == 'banner_text'">
									{$group.banner_text}
									<xf:elseif is="$options.at_glw_title == 'user_title'" />
									{$group.user_title}
									<xf:elseif is="$options.at_glw_title == 'group_title'" />
									{$group.group_title}
								</xf:if>
							</span>
						</xf:if>
					<xf:if is="$options.at_glw_linknames"></a></xf:if>
				</div>
			</xf:foreach>
		</div>
	</div>
</div>