.block[data-widget-definition="at_glw_widget"] {
	.at_glw_center {
		<xf:if is="property('at_glw_vertical')">
			float: left;
			margin-right: 3px;

			<xf:if is="property('at_glw_separator')">
				&::after {
					content: "@xf-at_glw_separator";
				}
				&:last-child::after {
					display: none;
				}
			</xf:if>
		<xf:else />
			.xf-at_glw_lable();
		</xf:if>
		& a:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	.at_glw_banner_css {
		<xf:if is="property('at_glw_bannerWidth')"> width: 100%; </xf:if>
		.xf-at_glw_banner_css();
	}

	<xf:if is="property('at_glw_line') && !property('at_glw_vertical')">
		.at_glw_center::after {
			.xf-at_glw_lines();

			background: -webkit-linear-gradient(left, @xf-at_glw_linecolore1, @xf-at_glw_linecolore2, @xf-at_glw_linecolore3);
			background: -moz-linear-gradient(left, @xf-at_glw_linecolore1, @xf-at_glw_linecolore2, @xf-at_glw_linecolore3);
			background: -ms-linear-gradient(left, @xf-at_glw_linecolore1, @xf-at_glw_linecolore2, @xf-at_glw_linecolore3);
			background: -o-linear-gradient(left, @xf-at_glw_linecolore1, @xf-at_glw_linecolore2, @xf-at_glw_linecolore3);
			background: linear-gradient(to right, @xf-at_glw_linecolore1, @xf-at_glw_linecolore2, @xf-at_glw_linecolore3);
		}
		.at_glw_center:last-child::after {
			display: none;
		}
	</xf:if>
}